# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignore virtual environment
rtbi/
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

